body {
  background-color: #141414;
}
.bg-custom {
  background: linear-gradient(to bottom, #070606, #141413);
}
.custom-navbar {
  border: none;
}
main {
  width: 700px;
  margin-top: 150px;
}
h1 {
  font-size: 4em;
  font-weight: 300;
}
.total-img {
  width: 170px;
}
.strive {
  width: 400px;
}
.strive p {
  font-weight: 400;
}
.btn {
  border-radius: 0%;
  color: white;
  background-color: black;
}
.tit3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
}
.conth4 {
  background-color: rgb(90, 90, 90);
  color: white;
  width: 270px;
  text-align: center;
}
h4 {
  font-weight: 400;
  font-size: 1.3em;
  padding: 2px;
}
